<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>PcBuy</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <meta name="keywords" content="livrare la domiciliu, romania, calculator, placa video, componente, hardware, gaming" >
        <meta name="description" content="Cumperi componente de calculatoare: placi video, procesoare etc." > <!--comentariu-->
        <meta name="author" content="Munteanu Andrei"> <!--Autorul paginii-->

        <%- include("../fragmente/head.ejs") %>
        
    </head>
    <body>

        <%- include("../fragmente/header.ejs") %>

        <main>
            <br><br><br>

            <div>
                <picture>
                    <source srcset="/resurse/imagini/1-200x200.png" media="(max-width: 800px)"/>
                    <source srcset="/resurse/imagini/1-400x400.png" media="(max-width: 1200px)"/>
                    <img src="/resurse/imagini/1.png" alt="Smiling computer man">
                    <figcaption>Happy shopping!</figcaption>
                </picture>
            </div>

            <br>
            <p>
                <b>Ip: </b> <%- locals.ip %>
            </p>
            <br>

            <!-- <button type="button" class="btn btn-primary btn-lg">Stil-1-mare</button> -->
            <div id="grid-pagina">
                <section id="sectiune1">
                    <h2>Meniu autentificare</h2>
                    <p>
                        Alege una dintre cele doua optiuni: <strong>login</strong> (daca ai mai avut cont la noi) sau
                        <strong>sign up</strong> (daca doresti sa creezi un cont nou)
                    </p>
                    <section id="subsectiune1">
                        <h3>Login</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
     
                    </section>
     
                    <section id="subsectiune2">
                        <h3>Sign up</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quisquam id nesciunt facere. Doloribus sequi eveniet esse, autem atque quidem voluptatibus rerum consequatur debitis quos ipsa architecto unde quia quasi?</p>
     
                    </section>
                </section>
     
                <section id="sectiune2">
                    <h2>Wishlist</h2>
                    <p>Aici vor aparea produsele pe care le-ai adaugat in lista de dorinte! Adauga ce iti face cu ochiul.</p>
     

                    <br><br>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nulla sem, bibendum at aliquet vitae, sodales ut orci. Curabitur eget dui non lorem pretium congue sit amet sed velit. Nam vel quam viverra, ornare est id, molestie arcu. Nam massa ante, finibus nec ullamcorper non, fringilla in mauris. Donec iaculis massa enim. Mauris sed urna vitae nunc blandit tempus a eget risus. Fusce placerat euismod lectus in tristique. Donec blandit urna eget sagittis finibus. Aenean nisl justo, pretium et rutrum ut, blandit at risus. Aliquam placerat dapibus ante eu luctus. Maecenas sit amet ante nisl. Aliquam suscipit tincidunt aliquet. Sed sed malesuada velit, ac fringilla tortor. Sed sagittis tortor eget porta accumsan. Nam gravida felis sed urna vehicula, vel fermentum nisl porta.
                    </p>
                    <p>
                        Etiam eget venenatis augue, quis vestibulum purus. Maecenas ex orci, volutpat in erat non, ultrices dapibus nibh. Fusce blandit lacus a neque commodo scelerisque ac sed nulla. Donec dapibus, sapien vitae dictum lacinia, felis nulla commodo ex, sit amet elementum arcu odio quis libero. Donec et mattis magna. Nulla tristique lobortis pharetra. Sed elementum quam et ex porta euismod. Mauris non diam sapien. Aenean dui libero, aliquet eget nunc eu, accumsan posuere dolor. Aenean efficitur, ante eget rhoncus viverra, mauris odio porta nunc, at feugiat quam dolor eu odio. Donec vulputate consectetur eros, ac mattis turpis feugiat nec. Nullam maximus metus et nunc dignissim venenatis. In a dignissim erat. Aliquam placerat elit ac felis vulputate, id lobortis ante pellentesque. Ut tempor mauris dolor. Quisque eu metus porta, laoreet eros at, condimentum dolor.
                    </p>
                </section>
    
                <section id="sectiune3">
                    <h2>Cos de cumparaturi</h2>
                    <p>Deocamdata, cosul tau este gol. Adauga produse aici pentru a le putea achizitiona, acum sau mai tarziu!</p>
                    
                    <br><br>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nulla sem, bibendum at aliquet vitae, sodales ut orci. Curabitur eget dui non lorem pretium congue sit amet sed velit. Nam vel quam viverra, ornare est id, molestie arcu. Nam massa ante, finibus nec ullamcorper non, fringilla in mauris. Donec iaculis massa enim. Mauris sed urna vitae nunc blandit tempus a eget risus. Fusce placerat euismod lectus in tristique. Donec blandit urna eget sagittis finibus. Aenean nisl justo, pretium et rutrum ut, blandit at risus. Aliquam placerat dapibus ante eu luctus. Maecenas sit amet ante nisl. Aliquam suscipit tincidunt aliquet. Sed sed malesuada velit, ac fringilla tortor. Sed sagittis tortor eget porta accumsan. Nam gravida felis sed urna vehicula, vel fermentum nisl porta.
                    </p>
                    <p>
                        Etiam eget venenatis augue, quis vestibulum purus. Maecenas ex orci, volutpat in erat non, ultrices dapibus nibh. Fusce blandit lacus a neque commodo scelerisque ac sed nulla. Donec dapibus, sapien vitae dictum lacinia, felis nulla commodo ex, sit amet elementum arcu odio quis libero. Donec et mattis magna. Nulla tristique lobortis pharetra. Sed elementum quam et ex porta euismod. Mauris non diam sapien. Aenean dui libero, aliquet eget nunc eu, accumsan posuere dolor. Aenean efficitur, ante eget rhoncus viverra, mauris odio porta nunc, at feugiat quam dolor eu odio. Donec vulputate consectetur eros, ac mattis turpis feugiat nec. Nullam maximus metus et nunc dignissim venenatis. In a dignissim erat. Aliquam placerat elit ac felis vulputate, id lobortis ante pellentesque. Ut tempor mauris dolor. Quisque eu metus porta, laoreet eros at, condimentum dolor.
                    </p>
                </section>
    
                <section id="sectiune4">
                    <h2>Despre produse si abordarea noastra</h2>
                    <p>
                        Cine suntem noi? Suntem o companie ce permite achizitionarea de produse <b>componente</b> ale unui 
                        <b>calculator</b> (de exemplu <b>placi video</b>, procesoare). Pentru achizitionarea acestor produse, 
                        oferim <b>livrare la domiciliu</b> oriunde in <b>Romania</b> si o perioada de return de 7 zile. Noi
                        ne ocupam de partea de <b>hardware</b>, ca tu sa te poti bucura de software!
                        
                        <br><br>
                        Nota: <strong>NU</strong> ne asumam responsabilitatea pentru folosirea produselor in alt mod fata de cel 
                        specificat de producator! 
                        <em>Recomandam insistent citirea informatiilor puse la dispozitie de acesta si urmarea indeaproape a 
                        instructiunilor, altfel pot aparea accidente pe care nimeni nu si le doreste.</em>
                        <br>
                        Produsele marcate cu <b>gaming</b> nu sunt testate in acest scop! Se foloseste exprimarea producatorului.
                        <br>
                        La aparitia oricarui tip de probleme, va stam la dispozitie.
                        <br>
                        Produsele pot fi returnate intr-un termen de <strong>7 zile de la data primirii acestora</strong>, 
                        in cazul in care ele nu prezinta urme de utilizare intensiva si numai prin reambalarea in ambalajul original. 
                        Pentru a returna un produs, contactati-ne!
                        <br>
                    </p>
     
                </section>
     
                <section id="sectiune5">
                    <h2>Informatii pentru a va ajuta in procesul de asamblare a unui calculator (si mai departe!)</h2>
    
                    <!-- <iframe src="https://www.youtube.com/embed/s1fxZ-VWs2U" allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/xhHtHMQygzE" allowfullscreen></iframe> <br> -->
                    <div class="container-iframe">
                        <div class="taburi-iframe">
                            <a href="https://www.youtube.com/embed/s1fxZ-VWs2U" target="ifr-video">Before</a>
                            <a href="https://www.youtube.com/embed/xhHtHMQygzE" target="ifr-video">After</a>
                        </div>
                        <iframe name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/s1fxZ-VWs2U" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <a href="https://ro.pcpartpicker.com/">Site specializat Pcpartpicker</a> <br>
                    <a href="https://www.uc.edu/content/dam/refresh/cont-ed-62/olli/fall-23-class-handouts/refined%20intro.pdf" download>Descarca documentul</a>

                </section>

                <section id="sectiune6">
                    <h2>Contact</h2>
                    <details>
                        <summary>Telefon, mail</summary>
                        <p>
                            <a href="tel:+407123456789">Telefon</a> <br>
                            <a href="https://wa.me/1234567890" target="_blank">WhatsApp</a> <br>
                            <a href="mailto:mailfictiv.office@ceva.com">Mail</a> 
                        </p>
                        <!-- <p>Text ascuns</p> -->
                    </details>
                </section>

                <section id="sectiune7">
                    <h2>Bibliografie</h2>
                    <a href="https://www.youtube.com/@LinusTechTips">Canal Linus Tech Tips</a> <br>
                    <a href=https://www.youtube.com/@Jayztwocents>Canal Jayztwocents</a> <br>
                    <a href=https://www.uc.edu/content/dam/refresh/cont-ed-62/olli/fall-23-class-handouts/refined%20intro.pdf>Pdf despre calculatoare</a> <br>
                    <a href="https://www.youtube.com/@buildegg">Canal buildegg</a>

                    <br><br>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nulla sem, bibendum at aliquet vitae, sodales ut orci. Curabitur eget dui non lorem pretium congue sit amet sed velit. Nam vel quam viverra, ornare est id, molestie arcu. Nam massa ante, finibus nec ullamcorper non, fringilla in mauris. Donec iaculis massa enim. Mauris sed urna vitae nunc blandit tempus a eget risus. Fusce placerat euismod lectus in tristique. Donec blandit urna eget sagittis finibus. Aenean nisl justo, pretium et rutrum ut, blandit at risus. Aliquam placerat dapibus ante eu luctus. Maecenas sit amet ante nisl. Aliquam suscipit tincidunt aliquet. Sed sed malesuada velit, ac fringilla tortor. Sed sagittis tortor eget porta accumsan. Nam gravida felis sed urna vehicula, vel fermentum nisl porta.
                    </p>
                    <p>
                        Etiam eget venenatis augue, quis vestibulum purus. Maecenas ex orci, volutpat in erat non, ultrices dapibus nibh. Fusce blandit lacus a neque commodo scelerisque ac sed nulla. Donec dapibus, sapien vitae dictum lacinia, felis nulla commodo ex, sit amet elementum arcu odio quis libero. Donec et mattis magna. Nulla tristique lobortis pharetra. Sed elementum quam et ex porta euismod. Mauris non diam sapien. Aenean dui libero, aliquet eget nunc eu, accumsan posuere dolor. Aenean efficitur, ante eget rhoncus viverra, mauris odio porta nunc, at feugiat quam dolor eu odio. Donec vulputate consectetur eros, ac mattis turpis feugiat nec. Nullam maximus metus et nunc dignissim venenatis. In a dignissim erat. Aliquam placerat elit ac felis vulputate, id lobortis ante pellentesque. Ut tempor mauris dolor. Quisque eu metus porta, laoreet eros at, condimentum dolor.
                    </p>
                </section>
    
                <section id="sectiune8">
                    <h2>Ofertele noastre</h2>
                    <div class="table-container">
                        <table>
                            <caption>Lista ofertelor speciale</caption>
                            <thead>
                                <tr>
                                    <th>Produs</th>
                                    <th>Pret</th>
                                    <th>Reducere</th>
                                    <th>Disponibilitate</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Placa video NVIDIA RTX 5090</td>
                                    <td>50000 RON</td>
                                    <td rowspan="2">10%</td>
                                    <td>Stoc limitat</td>
                                </tr>
                                <tr>
                                    <td>Procesor AMD Ryzen 7 7800x3D</td>
                                    <td>4500 RON</td>
                                    <td>In stoc</td>
                                </tr>
                                <tr>
                                    <td>SSD Samsung 970 EVO 1Tb</td>
                                    <td colspan="2">Reducere speciala: 20%</td>
                                    <td>Stoc limitat</td>
                                </tr>
                                <tr>
                                    <td>Monitor IPS Gigabyte G24F 165Hz</td>
                                    <td>700 RON</td>
                                    <td>15%</td>
                                    <td>In stoc</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">Toate ofertele sunt valabile in limita stocului disponibil.</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </section>
    
                <br><br>
            </div>

            <div>
                <%- include("../fragmente/poze.ejs") %>
                <p>Daca vreti totusi un link catre galeria separata, iata-l!</p>
                <a href="rolagalerie">Link</a>
            </div>

            <div>
                <section id="sectiune9">
                    <video width="100%" style="max-width: 800px; min-width: 300px;" controls="controls" preload="none" poster="/resurse/video/poster.jpg">
                        <source src="resurse/video/video.mp4" type="video/mp4">
                        <source src="resurse/video/video.ogv" type="video/ogv">
                        
                        <track default src="resurse/video/mesaje-ro.vtt" kind="captions" srclang="ro" label="Română">
                        <track src="resurse/video/mesaje-en.vtt" kind="captions" srclang="en" label="English">

                        Browserul dumneavoastra nu suporta tagul video.
                    </video>
                </section>
            </div>
        </main>
 
        <%- include("../fragmente/footer.ejs") %>
        
    </body>
</html>