<section id="galerie-statica">
    <h2>Galerie</h2>
    <div id="grid-galerie">
        <% 
        d=new Date()
        vect_sferturi=["1", "2", "3", "4"]
        sfert_curent=vect_sferturi[~~(d.getMinutes / 15)]
        for (let imag of locals.imagini) { %>
            <% if (imag.sfert_ora && imag.sfert_ora.includes(sfert_curent)) { %>
                <figure>
                    <picture>
                        <source srcset="<%- imag.fisier_mic %>" media="screen and (max-width:600px)" />
                        <source srcset="<%- imag.fisier_mediu %>" media="screen and (max-width:1000px)" />
                        <img src="<%- imag.fisier %>" alt="calculatoare" title="<%- imag.title %>">
                    </picture>
                    <figcaption><%- imag.title %></figcaption>
                </figure>
                
            <% } %>
        <% } %>
    </div>
</section>